<fieldset>
    <input id="hades-settings-flux-password" name="hades_settings[flux-password]" type="password" value="{{password}}" />
    <label for="hades-settings-flux-password">&nbsp;Mot de passe de passe Hadès</label><br />
</fieldset>
