<fieldset>
    <input id="hades-settings-flux-user" name="hades_settings[flux-user]" type="text" value="{{user}}"  />
    <label for="hades-settings-flux-user">&nbsp;Identifiant de connexion Hadès</label><br />
</fieldset>