<fieldset>
  <input id="hades-settings-debug-mode" name="hades_settings[debug-mode]" type="checkbox" value="checked" {{debug_mode_state}} />
  <label for="hades-settings-debug-mode">&nbsp;Afficher la page de débogage</label><br />
  <p class="description">Cette option affiche la page de débogage du plug-in</p>
</fieldset>
